.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: auto;
  margin: 8px;
  padding: 16px;
  border: 2px solid lightgray;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  width: 1000px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.product-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}

.product-description {
  font-size: 0.9rem;
  color: white;
  margin-top: 5px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.out-of-stock {
  color: red;
  font-style: italic;
}

.add-to-cart-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.add-to-cart-button:hover:not(:disabled) {
  background-color: #0056b3;
}