.row {
  display: flex;
  align-items: center;
  width: 100%; /* Ensure the row takes the full width */
}

h1{
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  padding-left: 120px;
}

/* Ensure the header takes up the full width of the screen */
.header-container {
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Limit the maximum width of the header content */
  padding: 0 20px; /* Add padding to the sides */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between items in the left section */
}

.center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 10px; /* Add space between items in the center section */
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between items in the right section */
}

.centered-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%; /* Ensure the row takes the full width */
}

.large-button {
  font-size: 16px;
  padding: 10px 20px; /* Increase padding to make buttons longer */
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.large-button:hover {
  background-color: #0056b3;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.centered-text h1 {
  font-size: 2.5rem;
  color: var(--header-text-color);
}

.container {
  width: 100%;
  padding: 10px;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

.center-section img {
  margin: 0 auto;
}

.logo {
  cursor: pointer;
  height: 150px; /* Adjust the height as needed */
  padding-left: 120px;
}

/* Set the background color of the body to dark grey */
body {
  background-color: #333; /* Dark grey color */
  color: white; /* Ensure text is readable on dark background */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .center-section {
    justify-content: flex-start;
    margin-top: 10px;
  }

  .centered-buttons {
    flex-direction: column;
    align-items: center;
  }

  .large-button {
    margin: 10px 0;
  }
}