.container {
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .hero-section {
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
  
  .hero-section div {
    margin-bottom: 40px; /* Add margin to the bottom */
  }
  
  .hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .hero-section button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-section button:hover {
    background-color: darkgreen;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .hero-section {
      height: auto;
      padding: 40px 20px;
    }
  
    .hero-section h1 {
      font-size: 2rem;
    }
  
    .hero-section p {
      font-size: 1.2rem;
    }
  
    .hero-section button {
      font-size: 1rem;
      padding: 8px 16px;
    }
  }

h1 {
  font-size: 3em;
  color: white;
}

hr {
  width: 50%;
  margin: 20px auto;
  border: 1px solid blue;
}

.content {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

h2 {
  font-size: 2em;
  color: white;
}

p {
  font-size: 1.2em;
  color: white;
  line-height: 1.6;
}

a {
  color: white;
  text-decoration: underline;
}